html, 

body {
    margin: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
}

h1 {
    text-align: center;
    color: blue;
}

p {
    color: red;
    border: 2px solid black;
    padding: 30px;
}